[Unit]
Description=Onionspray

[Service]
Type=oneshot
ExecStart={{ onionspray_path }}/onionspray-init.sh start
ExecStop={{ onionspray_path }}/onionspray-init.sh stop
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
