{% if onionspray_check_cert_with_ca_file %}
set nginx_proxy_ssl_trusted_certificate {{ onionspray_ca_cert_file }}

{% endif %}
# disable cache
set nginx_cache_seconds 0

set project {{ onionspray_project_name }}
hardmap {{ onionspray_tor_address | default('%NEW_V3_ONION%') }} {{ onionspray_proxied_domain }}

{{ onionspray_project_custom_settings }}
